.body{ margin-top: 5vh; }
.left{ text-align: left; }
.right{ text-align: right; }
.center{ text-align: center; }

/* HOMEPAGE */
.bg-img{
  background-image: url("./components/Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 93vh;
}.foot{ margin-top: 70vh; }

/* ZOOM */
.zoom{ height: 500px; width: 500px; }
.pointer{ cursor: pointer; }

@media screen and (max-width: 600px) { .zoom{ height: 450px; width: 450px; } }
@media screen and (max-width: 500px) { .zoom{ height: 400px; width: 400px; } }
@media screen and (max-width: 450px) { .zoom{ height: 350px; width: 350px; } }
@media screen and (max-width: 400px) { .zoom{ height: 300px; width: 300px; } }
@media screen and (max-width: 350px) { .zoom{ height: 250px; width: 250px; } }

/* Previous/Next */
.previous{ position: fixed; top: 50%; left: 1.5%; transform: translate(-50%, -50%); z-Index: 7; }
.next{ position: fixed; top: 50%; left: 98.5%; transform: translate(-50%, -50%); z-Index: 7; }

@media screen and (max-width: 1150px) { .previous { left: 2% } .next{ left: 98% } }
@media screen and (max-width: 750px) { .previous { left: 3% } .next{ left: 97% } }
@media screen and (max-width: 500px) { .previous { left: 4% } .next{ left: 96% } }




/* NAVBAR */
.fixed{
  position:fixed;
  top:0;
  width:100%;
}

.darknav {
  background-color: #060b26;
  padding-top: 0;
  height:67px;
  position:fixed;
  z-index: 8;
  top:0;
  width:100%;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 2rem;
  background: none;
}

.bars{
  margin-top: 12px;
}

.button{
  position:fixed;
  z-index: 9;
  top: -2px;;
  right: 8px;
}

.nav-menu {
  background-color: #060b26;
  width: 275px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.scroll{
  overflow-y: auto;
}

.no-scroll{
  width: 260px;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  padding: 8px 0px 8px 10px;
  height: 60px;
}

.nav-text a {
  font-size: 15px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
}

.nav-text a:hover {
  background-color: #0275d8;
}

.navbar-toggle {
  background-color: #060b26;
  height:67px;
  display: flex;
  align-items: center;
}

span {
  margin-left: 15px;
}

/* detail */
.items{
  margin: 1% 1% 3% 1%;
  padding-top: 25px;
  /* margin: 1% 3% 3% 3%; */
}
.list{
  padding-left: 7%;
}
.stripped{
  background-color: #ebedef;
}